//************************************ FOOTER ********************************************//

.footer-contenedor {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 0;

    .racing-copy {
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
            color: #8c86c5;
            font-family: "Montserrat", sans-serif;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
        }
    }

    .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: white;
            font-family: "Raleway", sans-serif;
            margin: 0;
        }
    }

    .racing-redes {
        text-align: center;

        p {
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        a {
            font-size: 2.5rem;
            color: #0e63ff;

            &:active {
                color: white;
            }
        }
    }
}
