/******************************************** FOTOS ***********************************************************/

/************************************* FOTOS SOBRE EL CLUB ****************************************************/

.institucion {
    padding: 20px;
    margin: 30px 20px;
    border: 2px solid #f3f3f3;
    background: rgba(0, 156, 222, 0.9);
}

.grupo-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    h2 {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
    }
}

.imagen-principal {
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
    }
}

.miniaturas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;

    img {
        max-width: 100%;
    }
}

.descripcion-fotos {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;

    h3 {
        color: white;
        font-size: 1.30rem;
    }

    p {
        text-align: justify;
        font-family: 'Nunito', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        color: #f6f6f6;
    }
}

.miniaturas2 {
    display: grid;
    grid-gap: 10px;
    align-items: center;

    img {
        max-width: 100%;
    }
}


//******************************************* FOTOS DE PARTIDOS **********************************//

.partidos_contenedor {
    display: grid;
    padding: 10px;
    margin: 30px 0px;
    border: 2px solid white;
    background: $AzulCielo;

    p {
        margin-top: 10px;
        font-style: italic;
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        display: flex;
        justify-content: center;
        color: #00006b;
        background-color: #f9f9ffe8;
    }
}

.foto_resultado {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.fotos_fecha {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;

    .foto {
        text-align: center;
        margin-bottom: 10px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.descr_partidos {
    text-align: center;
    background-color: #f9f9ffe8;

    p {
        font-style: normal;
        text-decoration: none;
    }
}

.mtt {
    margin-top: -24px; //*contrarrestar bootstrap *//
}

.tarjetitas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $CelesteMedio;
    grid-gap: 0.5rem;
    text-align: center;
    align-items: center;
    padding: 10px;

    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    a {
        font-family: 'Playfair Display';
        font-weight: 500;
        color: $AzulMarino;
        background-color: $AzulPalido;
        padding: 10px;
    }
}


//***************************************************** FOTO PLANTES {HTML} *********************************************//

h2.color_posc {
    color: #1b1898;
}

.row {
    margin-bottom: 2rem;

    h1 {
        color: blue;
    }

    .col,
    .col-xl-3,
    .col-md-6,
    .col-sm-12 {
        margin-bottom: 10px;

        p {
            font-style: italic;
            font-weight: bold;
            position: absolute;
            color: white;
            font-size: 20px;
            background: #0c0c64;
        }
    }
}

.C-T {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    p {
        background: none !important;
        color: black !important;
    }
}

img.dirigente {
    width: 250px;
    height: 250px;
}
