/************************************* TORENO ********************************************************/

/********************************************* FIXTURE {HTML} *****************************************/

.fixture-titulo {
    display: block;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #120588;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}


.fixture-contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px 50px 10px;
}


.head-principal th {
    background-color: #003366;
    color: white;
}

.head-secundario th {
    background-color: #2270e9;
    color: white;
}

.t-body{
    background-color: #d3e6ff;
}

.fixture-fecha tbody tr td:nth-child(2) {
    text-align: left;
}

.fixture-fecha tbody tr td:nth-child(5n) {
    text-align: right;
}

.fixture-tbody-r {
    background-color: white;
}

.fa-play {
    color: #0054d7;
    text-align: center;
}


.racing-dif{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.titulollave {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.titulollave h2 {
    color: #120588;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}


.llave {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.llave h3 {
    color: #1C699D;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.ronda {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #7dbbff;
}

.ronda td{
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}




/***************************************POSICIONES HTML *********************************************/

h1.titulo-posiciones{
    padding: 20px;
    text-align: center;
    color: #120588;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

h2.LPFArgentina {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #2e00ca;
    padding: 20px 0px 0px 0px;
}


.zonas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px 50px 10px;
}

.zonaA h3, .zonaB h3 {
    text-align: center;
    color: #120588;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.zonas table tbody tr td:nth-child(2),
.posicionesAnual table tbody tr td:nth-child(2) {
    text-align: left;
}

.clasificados1 {
    background-color: #0079ff;
    list-style-type: "🏆";
    margin-left: 20px;
}


.titulos-posiciones {
    display: flex;
    justify-content: center;
}

.titulos-posiciones h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #2e00ca;
}

.posicionesAnual {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;
}

.tabla-general,
.tabla-promedios {
    width: 50%;
}

.condiciones {
    width: 50%;
}

.clasificados2{
    background-color: #98e19f;
    list-style-type: "🏆";
    margin-left: 20px;
}

.cmp1 {
    background-color: #12931e;
    list-style-type: "🥇";
    margin-left: 20px;
}

.descenso {
    background-color: #b20000;
    list-style-type: "🔻";
    margin-left: 20px;
    color: white;
}

.flechaup {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 999;
    background-color: rgb(255 255 255 / 75%);
    border-radius: 50px;
}

.flechaup a {
    padding: 2px 0px;
    font-size: 25px;
    color: rgb(4 0 255 / 75%);
}

/************************************** COPA ARGENTINA {HTML}***************************************/
.copaargentina img{
    margin-bottom: -4px;
    width: 100%;
    height: 100%;
}
