//************************************* TORENO ********************************************************//

//********************************************* FIXTURE {HTML} *****************************************//

.fixture-titulo {
    h1 {
        display: block;
        justify-content: center;
        padding: 20px;
    }
}

.fixture-contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px 50px 10px;
}

.head-principal {
    th {
        background-color: #003366;
        color: white;
    }
}

.head-secundario {
    th {
        background-color: #2270e9;
        color: white;
    }
}

.t-body {
    background-color: #d3e6ff;
}

.fixture-fecha {
    tbody {
        tr {
            td:nth-child(2) {
                text-align: left;
            }
            td:nth-child(5n) {
                text-align: right;
            }
        }
    }
}

.fixture-tbody-r {
    background-color: white;
}

.fa-play {
    color: #0054d7;
    text-align: center;
}

.racing-dif {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.titulollave {
    h2 {
        font-size: 1.5rem;
    }
}

.llave {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        color: #1C699D;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
}

.ronda {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #7dbbff;
    td {
        border: 1px solid #000;
        padding: 5px;
        text-align: center;
    }
}

.carousel {
    padding: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #4388ef;
}


//***************************************POSICIONES HTML *********************************************//

h1.titulo-posiciones {
        padding: 20px;
}

h2.LPFArgentina {
        font-size: 1.5rem;
        padding: 20px 0px 0px 0px;
}

.zonas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px 50px 10px;

    h3 {
        text-align: center;
        color: #120588;
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 2rem;
    }

    table tbody tr {
        td:nth-child(2) {
            text-align: left;
        }
    }
}

.clasificados1 {
    background-color: $clasificados1;
    list-style-type: "🏆";
    margin-left: 20px;
}

.titulos-posiciones {
    display: flex;
    justify-content: center;

    h3 {
        font-size: 1.5rem;
        font-weight: 800;
        color: #2e00ca;
    }
}

.posicionesAnual {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;

    .tabla-general,
    .tabla-promedios {
        width: 50%;
    }

    .condiciones {
        width: 50%;
    }

    .clasificados2 {
        background-color: $clasificados2;
        list-style-type: "🏆";
        margin-left: 20px;
    }

    .cmp1 {
        background-color: #12931e;
        list-style-type: "🥇";
        margin-left: 20px;
    }

    .descenso {
        background-color: $descenso;
        list-style-type: "🔻";
        margin-left: 20px;
        color: white;
    }
}

//************************************** COPA ARGENTINA {HTML}***************************************//

.copaargentina {
    img {
        margin-bottom: -4px;
        width: 100%;
        height: 100%;
    }
}
