@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Nunito:ital,wght@0,200;1,200&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&family=Raleway:ital,wght@0,100;0,400;0,800;0,900;1,100;1,400;1,800;1,900&display=swap');
$AzulClaro: #B3E0F2;
$Azul: #66B3E0;
$CelesteMedio: #3399CC;
$CelesteOscuro: #1C699D;
$AzulMarino: #003366;
$AzulBrillante: #2270e9;
$AzulCielo: #4388ef;
$AzulPastel: #659ff4;
$AzulSuave: #86b7fa;
$AzulPalido: #a7ceff;
$AzulClaro: #d3e6ff;
$clasificados1: #0079ff;
$clasificados2: #98e19f;
$descenso: #b20000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body {
    background-color: $AzulSuave;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
}

li {
    list-style-type: none;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #f0faff;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0; /* para contrarrestrar bootstrap */
}

/*********************************** MAIN *************************************************/

main {
    h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    color: #0d008a;
    }

    h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: #2e00ca;
    }

    h3 {
    font-family: "Montserrat", sans-serif;
    }
}

footer {
    background-color: #051041;
    height: 100%;
}

.flechaup {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50px;

    a {
        padding: 2px 0px;
        font-size: 25px;
        color: rgba(4, 0, 255, 0.75);
    }
}